@mixin columns($width, $col) {
  @media (min-width: $width) {
    grid-template-columns: repeat($col, 200px);
  }
}

.catalog {
  display: grid;
  grid-template-columns: repeat(1, 200px);
  justify-content: center;
  gap: 48px;

  @include columns(488px, 2);
  @include columns(768px, 3);
  @include columns(1024px, 4);

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
